*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body {
    background: #F1FAEE;
    font-family: 'Roboto', sans-serif;
    color: #121212;
}
.header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 20px;
}
.header .header-title {
    font-size: 3.5rem;
    text-align: center;
    font-weight: 900;
    color: #457B9D;
}
.content {
    width: 100%;
    padding: 2rem 0;
}
.content .content-form {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content-form__label {
    font-size: 2rem;
    margin-bottom: 2rem;
}
.content-form__input{
    background: none;
    outline: none;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom:  3px solid #E63946;
    height: 2.4rem;
    font-size: 2rem;
    width: 60%;
    padding-left: 10px;
}
.content-form__input::placeholder{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
.content-form__submit{
    padding: 0.8rem 2rem;
    border-radius: 10px;
    outline: none;
    background: #E63946;
    border: none;
    color: #F1FAEE;
    font-size: 2.4rem;
    font-weight: 600;
    height: auto;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
}
.footer .footer_ancore {
    font-size: 2.4rem;
    color: #121212;
    text-decoration: none;
}
#mount {
    width: 100%;
    padding: 3rem;
}
.error {
    font-size: 2rem;
    color: #E63946;
    font-weight: 600;
    text-align: center;
    margin: 0.8rem;
}
.figure-img{
    width: 60%;
    margin: auto;
}
.figure-img img{
    width: 100%;
}
.city {
    width: 25rem;
    margin: 1rem auto;
    border-radius: 10px;
    background: #1D3557;
    color: #F1FAEE;
    padding: 2rem;
}
.city h2 {
    text-align: center;
    font-size: 2rem;
}
.city p {
    font-size: 1.6rem;
    margin: 0.5rem;
    text-transform:capitalize;
}