*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body {
    background: rgb(15, 6, 172);
    background: linear-gradient(128deg, rgb(12, 9, 71) 0%, rgb(0, 0, 117) 50%, rgb(7, 61, 71) 100%) no-repeat fixed;
    font-family: 'Roboto', sans-serif;
    color: #efefef;
}
.header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 20px;
}
.header .header-title {
    font-size: 3.5rem;
    color: #efefef;
    text-align: center;
    font-weight: 900;
}
.content {
    width: 100%;
    padding: 2rem 0;
    min-height: 78vh;
    max-height: 78vh;
}
.content .content-form {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content-form__label {
    font-size: 2rem;
    width: 90%;
    margin: 2.5rem auto;
}
.content-form__input{
    background: none;
    outline: none;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom:  3px solid #ec6565;
    color: #efefef;
    height: 2.4rem;
    font-size: 2rem;
    width: 60%;
    padding-left: 10px;
}
.content-form__input::placeholder{
    color: #efefef;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
.content-form__submit{
    padding: 8px 10px;
    border-radius: 10px;
    outline: none;
    background: #ec6565;
    border: none;
    color: #efefef;
    font-size: 2.4rem;
    font-weight: 600;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px 20px 15px;
}
.footer .footer_ancore {
    font-size: 2.3rem;
    color: #efefef;
    text-decoration: none;
}
#mount {
    width: 100%;
    padding: 3rem;
}
.error {
    font-size: 2rem;
    color: red;
    font-weight: bold;
    text-align: center;
    margin: 0.8rem;
}
.figure-img{
    width: 60%;
    margin: auto;
}
.figure-img img{
    width: 100%;
}
.city {
    width: 90%;
    margin: 0 auto 3rem;
    border-radius: 10px;
    padding: 2rem;
    background: linear-gradient(90deg, #337a63 0%, rgb(34, 138, 105) 31%, rgb(5, 119, 81) 100%);
    box-shadow: 0px 0px 12px 7px rgba(255, 255, 255, 0.3);
}
.city h2 {
    text-align: center;
    font-size: 2rem;
}
.city p {
    font-size: 1.6rem;
    margin: 0.5rem;
    text-transform:capitalize;
}